<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot param">
    <!--pi-->
    <xacro:property name="PI" value="3.1415926535897931"/>

    <!--leg roots' position-->
    <xacro:property name="leg_lf_x" value="0.3464" />
    <xacro:property name="leg_lm_x" value="0.0" />
    <xacro:property name="leg_lh_x" value="-0.3464" />
    <xacro:property name="leg_rh_x" value="-0.3464" />
    <xacro:property name="leg_rm_x" value="0" />
    <xacro:property name="leg_rf_x" value="0.3464" />
    <xacro:property name="leg_lf_y" value="0.2" />
    <xacro:property name="leg_lm_y" value="0.4" />
    <xacro:property name="leg_lh_y" value="0.2" />
    <xacro:property name="leg_rh_y" value="-0.2" />
    <xacro:property name="leg_rm_y" value="-0.4" />
    <xacro:property name="leg_rf_y" value="-0.2" />
    <xacro:property name="leg_lf_yaw" value="${PI/6}" />
    <xacro:property name="leg_lm_yaw" value="${PI/2}" />
    <xacro:property name="leg_lh_yaw" value="${5*PI/6}" />
    <xacro:property name="leg_rh_yaw" value="${-5*PI/6}" />
    <xacro:property name="leg_rm_yaw" value="${-PI/2}" />
    <xacro:property name="leg_rf_yaw" value="${-PI/6}" />
    <!--leg links' length-->
    <xacro:property name="link1_length" value="0.18" />
    <xacro:property name="link2_length" value="0.5" />
    <xacro:property name="link3_length" value="0.5" />

    <!--mass-->
    <xacro:property name="base_mass" value="121.8957" />
    <xacro:property name="link1_mass" value="3.6031" />
    <xacro:property name="link2_mass" value="21.9855" />
    <xacro:property name="link3_mass" value="7.4018" />

    <!--inerials-->
    <xacro:property name="base_ixx" value="5.0930" />
    <xacro:property name="base_iyy" value="5.0930" />
    <xacro:property name="base_izz" value="8.2937" />
    <xacro:property name="link1_ixx" value="0.011212" />
    <xacro:property name="link1_iyy" value="0.03169" />
    <xacro:property name="link1_izz" value="0.03169" />
    <xacro:property name="link2_ixx" value="0.07020" />
    <xacro:property name="link2_iyy" value="0.7228" />
    <xacro:property name="link2_izz" value="0.7228" />
    <xacro:property name="link3_ixx" value="0.02290" />
    <xacro:property name="link3_iyy" value="0.14949" />
    <xacro:property name="link3_izz" value="0.14949" />
</robot>

