<?xml version="1.0"?>
<robot name="EISpider" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- The following included files set up definitions of parts of the robot body -->
    <xacro:include filename="$(find hit_spider)/model/xacro/common.xacro"/>

    <!-- EISpider  trunk -->
    <xacro:include filename="$(find hit_spider)/model/xacro/base/base.xacro"/>
    <xacro:EISpider_base/>

    <!-- EISpider  legs -->
    <xacro:include filename="$(find hit_spider)/model/xacro/leg/leg.xacro"/>
    <xacro:EISpider_Leg LegName="lf" leg_x="${leg_lf_x}" leg_y="${leg_lf_y}" leg_yaw="${leg_lf_yaw}"/>
    <xacro:EISpider_Leg LegName="lm" leg_x="${leg_lm_x}" leg_y="${leg_lm_y}" leg_yaw="${leg_lm_yaw}"/>
    <xacro:EISpider_Leg LegName="lh" leg_x="${leg_lh_x}" leg_y="${leg_lh_y}" leg_yaw="${leg_lh_yaw}"/>
    <xacro:EISpider_Leg LegName="rf" leg_x="${leg_rf_x}" leg_y="${leg_rf_y}" leg_yaw="${leg_rf_yaw}"/>
    <xacro:EISpider_Leg LegName="rm" leg_x="${leg_rm_x}" leg_y="${leg_rm_y}" leg_yaw="${leg_rm_yaw}"/>
    <xacro:EISpider_Leg LegName="rh" leg_x="${leg_rh_x}" leg_y="${leg_rh_y}" leg_yaw="${leg_rh_yaw}"/>
    <xacro:include filename="$(find hit_spider)/model/gazebo/gazebo.urdf.xacro"/>

</robot>
